.footer
  .footer-container
    .container.footer-content
      .row.m-b-lg
        .col-md-3
          .footer-list
            p 
              strong Molecular Science Corp
              br
              | 100 King St. W.
              br
              | Toronto ON MCX 1C9
            p M-F 9AM-5PM EST
              br
              | p. 1-800-555-5555
              br
              | e. info@mscience.ca
        .col-md-3
          .footer-list
            ul
              li: a(href="about.html") About Us
              li: a(href="science.html") Cannabinoid Science
              li: a(href="products.html") Product Development & Sales
              li: a(href="genetics.html") Cannabis Genetics
              li: a(href="testing.html") Analytical Testing Services
              li: a(href="contact.html") Contact MSC
        .col-md-6
          .footer-list
            p.m-b-0 Connect with MSC:
            .social-links
              a.social-link(href="#")
                img(src="img/icon-facebook.svg" alt="Facebook")
              a.social-link(href="#")
                img(src="img/icon-twitter.svg" alt="Twitter")
              a.social-link(href="#")
                img(src="img/icon-instagram.svg" alt="Instagram")
              a.social-link(href="#")
                img(src="img/icon-linkedin.svg" alt="Linkedin")
      span ©2017 Molecular Science Corp