.footer
  .container-fluid.footer-container
    .container.footer-content
      .row.m-b-lg
        .col-md-3
          .footer-list
            p 
              strong Molecular Science Corp
              br
              | 123 Address St.
              br
              | Toronto ON A1A 1A1
            p M-F 9AM-5PM EST
              br
              | p. 1-800-555-5555
              br
              | e. info@mscience.ca
        .col-md-3
          .footer-list
            ul
              li: a(href="#") Footer Link 1
              li: a(href="#") Second Footer Link
              li: a(href="#") Short Link
              li: a(href="#") Another Link
              li: a(href="#") Last One
        .col-md-6
          .footer-list
            p Connect with MSC:
              br
              | (IMAGES)
      span ©2017 Molecular Science Corp