.footer
  .container-fluid.footer-container
    .container.footer-content
      .row
        .col-lg-1.col-sm-2.footer-logo
          img(src="img/logo-ao-insignia.svg")
        .col-lg-3.col-sm-5.footer-list
          span.u-text-b Ample Organics
          ul
            li: a(href="about.html") About
            li: a(href="features.html") Features
            li: a(href="book-demo.html") Demo
            li: a(href="contact.html") Contact
            li: a(href="careers.html") Careers
        .col-lg-3.col-sm-5.footer-list
          span.u-text-b Connect
          ul
            li: a(href="https://www.facebook.com/ampleorganics") Facebook
            li: a(href="https://twitter.com/ampleorganics") Twitter
            li: a(href="https://www.linkedin.com/company/ample-organics") LinkedIn
  .footer-copyright
    .container.u-padding-x-0
      span © 2014 Ample Organics Incorporated