nav.navbar-container.container
  .navbar-header
    .navbar-logo
      a(href="index.html"): img(src="img/logo-horizontal.svg")
    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-nav") &#9776;
  .collapse.navbar-collapse#navbar-nav.navbar-list-container
    ul.navbar-list#primary-menu
      li.menu-item
        a.nav-link(href="index.html") Home
      li.menu-item
        a.nav-link(href="about.html") About
      li.menu-item
        a.nav-link(href="features.html") Features
      li.menu-item
        a.nav-link(href="contact.html") Contact
      li.menu-item
        a.nav-link(href="book-demo.html") Demo