script
  | function openNav() {
  |     document.getElementById("navbar-nav").style.width = "100%";
  |     document.getElementById("bodyWrap").classList.toggle("nav-noscroll");
  |     document.getElementById("mainContent").style.opacity = "0.6";
  |     document.getElementById("navbar").style.opacity = "0.6";
  | }
  | 
  | function closeNav() {
  |     document.getElementById("navbar-nav").style.width = "0px";
  |     document.getElementById("bodyWrap").classList.toggle("nav-noscroll");
  |     document.getElementById("mainContent").style.opacity = "1";
  |     document.getElementById("navbar").style.opacity = "1";
  | }
#navbar.navbar
  .navbar-container
    .container
      .navbar-header
        .navbar-logo
          a(href="index.html"): img(src="img/logo.png" alt="Molecular Science Corp")
        button.navbar-toggle(type="button" onclick="openNav()")
          span.ion.ion-android-menu
nav.navbar-collapse#navbar-nav.navbar-list-container
  a.navbar-closeToggle(href="javascript:void(0)" onclick="closeNav()")
    span.icon.ion.ion-android-close
  ol.navbar-list#primary-menu
    li.menu-item
      a.nav-link(href="index.html")
        span.nav-link-number 01
        | Home
    li.menu-item
      a.nav-link(href="about.html")
        span.nav-link-number 02
        | About Us
    li.menu-item
      a.nav-link(href="science.html")
        span.nav-link-number 03
        | Cannabinoid Science
    li.menu-item
      a.nav-link(href="testing.html")
        span.nav-link-number 04
        | Analytical Testing Services
    li.menu-item
      a.nav-link(href="contact.html")
        span.nav-link-number 05
        | Contact MSC