script
  | function openNav() {
  |     document.getElementById("navbar-nav").style.width = "100%";
  |     document.getElementById("bodyWrap").classList.toggle("nav-noscroll");
  | }
  | 
  | function closeNav() {
  |     document.getElementById("navbar-nav").style.width = "0px";
  |     document.getElementById("bodyWrap").classList.toggle("nav-noscroll");
  | }
nav.navbar
  .navbar-container.container
    .navbar-header
      .navbar-logo
        a(href="index.html"): img(src="img/logo.png" alt="Molecular Science Corp")
      button.navbar-toggle(type="button" onclick="openNav()")
        span.ion.ion-android-menu
    .navbar-collapse#navbar-nav.navbar-list-container
      a.navbar-closeToggle(href="javascript:void(0)" onclick="closeNav()")
        span.icon.ion.ion-android-close
      ul.navbar-list#primary-menu
        li.menu-item
          a.nav-link(href="index.html") Home
        li.menu-item
          a.nav-link(href="about.html") About
        li.menu-item
          a.nav-link(href="features.html") Features
        li.menu-item
          a.nav-link(href="contact.html") Contact
        li.menu-item
          a.nav-link(href="book-demo.html") Demo