extends _page-template.jade

block title
  +pageTitle("About MSC")

block body
  section.bg-white
    .container
      .row
        .col-md-6.col-md-push-6.m-b
          img(src="img/img-msc-team.jpg" alt="About MSC")
        .col-md-6.col-md-pull-6
          h1 About MSC
          p MSC is the leading cannabis life sciences company focused on advanced product testing, genetics, clinical research and product development. We are committed to using advanced genetic, genomic and physiological techniques to better understand cannabis plant processes. We offer licensed producers product testing using Ample Labs software, strains with desired traits and clinical research demonstrating results. MSC is applying our advanced knowledge to the production and distribution of cannabis based probiotics. We are proud to have one of the most extensive and recognized leaders in pharmaceutical, plant and cannabinoid science associated with our company. 
  section
    .container
      h3.text-c Our Team
      .row.m-b-xl
        mixin teamMember(name,title)
          .col-md-4.col-control-mobile
            .team-card
              .team-card-img
                img(src!=attributes.src alt!=(name + ", " + title) )
              .team-card-text
                p.team-name= name
                p.team-title= title
                .team-bio 
                  if block
                    block
        +teamMember('Scott Walters','CEO')(src="http://placehold.it/100x100")
          p Scott has extensive business experience developing successful US and Canadian medical cannabis start-up’s and sales channels, Canadian and US State licensed cannabis production and distribution, product development and patient research. Scott is ex-CEO of THC BioMed, Canabo and Empower Clinics (USA) and is an Independent Director of Supreme Pharmaceuticals, a fully licensed wholesale focused cannabis cultivator listed on the TSX. 
        +teamMember('Sameet Kanade','CFO')(src="img/team-sameet-kanade.jpg")
          p Sameet has over a decade of experience at investment banks in Toronto in equity research and structured finance in senior roles. Prior to entry into capital markets, he worked at PricewaterhouseCoopers and Ernst & Young  for over 5 years with the assurance department. His experience with valuation and in-depth macro and company specific analysis has often been  credited by financial media. Sameet holds a Bachelor in Commerce and MBA (University of Toronto), and is an Associate Member of the Inst. of Chartered Accountants of India.
        +teamMember('Frank Bellotti','Vice Chairman')(src="img/team-frank-bellotti.jpg")
          p Mr. Bellotti is the founder, Chairman and CEO of Bellotti Capital Partners Inc. (BCP), an independent financial investment firm offering comprehensive investment banking, corporate advisory, and global equity capital markets. BCP is registered by the Ontario Securities Commission and a member of the Limited Market Dealers Association of Canada. Mr Bellotti has extensive executive management experience, entrepreneurial acumen, and vast knowledge of the capital markets.
      .row.m-b-xl
        +teamMember('Cesare Fazari','Director')(src="img/team-cesare-fazari.jpg")
          p Cesare is a founding partner of Northwood Developments, Director and Chairman of the Investment Committee at Fountain Capital. He was one of the venture capitalists involved in the investment in Aininthus and Hydropothacary and a majority owner/partner of the Waterloo Innovation Network. Cesare owns over one million square feet of commercial, retail, residential and industrial real estate. 
        +teamMember('Howard Goldman M.B.A.','Director')(src="img/team-howard-goldman.jpg")
          p Howard is a serial entrepreneur and innovator in many disciplines of study and work. He is the founder of the Zopa Canada and an avid backer of disruptive fin-Tech technologies.  He is an early adopter of the medical cannabis industry in Canada. Howard is very close to many licensed producers, financiers and marketers. As a principal shareholder and Director of the Board,  Howard brings multiple skill sets to the team. He has over $1 billion of real estate sales and leasing, development, property management and construction. He is well versed in Crypto-currency and digital payments solutions.
        +teamMember('Dr. Igor Kovalchuk, MD, Ph.D.','President')(src="http://placehold.it/100x100")
      .row.m-b-xl
        +teamMember('Dr. Darryl Hudson, Ph.D.','Chief Science Advisor')(src="http://placehold.it/100x100")
        +teamMember('Dr. Steven Rothstein','Chief Science Officer')(src="img/team-steven-rothstein.jpg")
          p Dr. Steven Rothstein received his PhD from the University of Wisconsin and did his postdoctoral training in Cambridge UK at the Plant Breeding Institute.  He then was a Senior Scientist for Ciba Geigy in their Agricultural Biotechnology Research Unit located at the Research Triangle Park, North Carolina.   After this, Dr. Rothstein was recruited to be the Pioneer Hi-Bred Industrial Research Chair in Plant Molecular Biology at the University of Guelph where later he also served as Chair of the Department of Molecular Biology and Genetics.  Later Dr. Rothstein returned to the private sector, working for Pioneer Hi-Bred as the Research Director for Agronomic Traits where he was in charge of a number of areas including the development of the techniques for utilizing genomic information to improve the efficiency of plant breeding selection and also developing corn lines with improved drought tolerance.  Dr. Rothstein returned to the University of Guelph in 2002 where he is the University Research Chair in Plant Molecular Genetics and Professor in the Department of Molecular and Cellular Biology.  Dr. Rothstein is a recognized international expert in the field of Plant Genetics and in particular developing an understanding of how crop plants respond to environmental stress like drought as well as the use of genomic information to study these problems.  He has published over 130 peer reviewed research articles and been an inventor on over 15 patents.
        +teamMember('Ian Morton','General Manager')(src="img/team-ian-morton.jpg")
          p Ian is an accomplished business leader and entrepreneur; responsible for establishing and building leading environmental services companies such as Eco Generation Home Services, Scout Environmental and Summerhill. Under his leadership, Summerhill has become the leading energy efficiency program implementation in Canada with six offices and over 600 people employed on a full and part time basis. He has been recognized by Strategy Magazine for his marketing expertise and was the Clean16 category leader for Retail and Consumer Products in the inaugural 2011 Clean50 rankings in Canada. He is a Corporate Director at Ample Organics.

  include _call-to-action.jade