extends _page-template.jade

block title
  | About Us

block body
  section.bg-white
    .container
      .row
        .col-md-6.col-md-push-6.m-b
          img(src="http://placehold.it/800x400")
        .col-md-6.col-md-pull-6
          h1 About MSC
          p MSC is the leading cannabis life sciences company focused on advanced product testing, genetics, clinical research and product development. We are committed to using advanced genetic, genomic and physiological techniques to better understand cannabis plant processes. We offer licensed producers product testing using Ample Labs software, strains with desired traits and clinical research demonstrating results. MSC is applying our advanced knowledge to the production and distribution of cannabis based probiotics. We are proud to have one of the most extensive and recognized leaders in pharmaceutical, plant and cannabinoid science associated with our company. 
  section
    .container
      h3.text-c Our Team
      .row.m-b-xl
        mixin teamMember(name,title)
          .col-md-4.col-control-mobile
            .team-card
              .team-card-img
                img(src!=attributes.src)
              .team-card-text
                p.team-name= name
                p.team-title= title
                .team-bio 
                  if block
                    block
        +teamMember('Scott Walters','CEO')(src="http://placehold.it/100x100")
          p Scott has extensive business experience developing successful US and Canadian medical cannabis start-up’s and sales channels, Canadian and US State licensed cannabis production and distribution, product development and patient research. Scott is ex-CEO of THC BioMed, Canabo and Empower Clinics (USA) and is an Independent Director of Supreme Pharmaceuticals, a fully licensed wholesale focused cannabis cultivator listed on the TSX. 
        +teamMember('Sameet Kanade','CFO')(src="img/team-sameet-kanade.jpg")
        +teamMember('Frank Bellotti','Vice Chairman')(src="img/team-frank-bellotti.jpg")
      .row.m-b-xl
        +teamMember('Cesare Fazari','Director')(src="http://placehold.it/100x100")
        +teamMember('Howard Goldman M.B.A.','Director')(src="http://placehold.it/100x100")
          p Cesare is a founding partner of Northwood Developments, Director and Chairman of the Investment Committee at Fountain Capital. He was one of the venture capitalists involved in the investment in Aininthus and Hydropothacary and a majority owner/partner of the Waterloo Innovation Network. Cesare owns over one million square feet of commercial, retail, residential and industrial real estate. 
        +teamMember('Dr. Igor Kovalchuk, MD, Ph.D.','President')(src="http://placehold.it/100x100")
      .row.m-b-xl
        +teamMember('Dr. Darryl Hudson, Ph.D.','Chief Science Advisor')(src="http://placehold.it/100x100")
        +teamMember('Dr. Steven Rothstein','Chief Science Officer')(src="http://placehold.it/100x100")
        +teamMember('Ian Morton','General Manager')(src="http://placehold.it/100x100")
          p Ian is an accomplished business leader and entrepreneur; responsible for establishing and building leading environmental services companies such as Eco Generation Home Services, Scout Environmental and Summerhill. Under his leadership, Summerhill has become the leading energy efficiency program implementation in Canada with six offices and over 600 people employed on a full and part time basis. He has been recognized by Strategy Magazine for his marketing expertise and was the Clean16 category leader for Retail and Consumer Products in the inaugural 2011 Clean50 rankings in Canada. He is a Corporate Director at Ample Organics.

  include _call-to-action.jade