extends _page-template.jade

block title
  +pageTitle("About MSC")

block body
  section.bg-white
    .container
      .row
        .col-md-6.col-md-push-6.m-b
          img(src="img/img-msc-team.jpg" alt="About MSC")
        .col-md-6.col-md-pull-6
          h1 About MSC
          p MSC is a private cannabis life sciences focused on product development, terpenes and plant genetics as well as lab integration software. We are committed to using advanced genetic, genomic and physiological techniques to better understand cannabis plant and terpenoid compounds. We offer licensed producers product testing using Ample Labs software, strains with desired traits and clinical research demonstrating results. MSC is applying our advanced knowledge to the production and distribution of cannabis based probiotics. We are proud to have some of the most extensive and recognized leaders in pharmaceutical, plant and cannabinoid science associated with our company. 
  section
    .container
      h3.text-c Our Team
      .row.m-b-xl
        mixin teamMember(name,title)
          .col-md-4.col-control-mobile
            .team-card
              .team-card-img
                img(src!=attributes.src alt!=(name + ", " + title) )
              .team-card-text
                p.team-name= name
                p.team-title= title
                .team-bio 
                  if block
                    block
        +teamMember('Scott Walters','CEO')(src="img/team-scott-walters.jpg")
          p Scott has extensive business experience developing successful US and Canadian medical cannabis start-up’s and sales channels, licensed cannabis production and integration, product development and ongoing funded research into chronic pain. Scott developed and is former CEO of THC BioMed, Canabo and Empower Clinics (USA) and currently an Independent Director of Supreme Pharmaceuticals, a fully licensed wholesale focused ACMPR cannabis cultivator listed on the TSX. Prior to his 2013 pivot to cannabis focused industries, Scott spent 20 years in investment banking and derivatives trading with a focus on natural resources and technology at leading Canadian banking firms. 
        +teamMember('Sameet Kanade','CFO')(src="img/team-sameet-kanade.jpg")
          p Sameet has over a decade of experience at investment banks in Toronto in equity research and structured finance in senior roles. Prior to entry into capital markets, he worked at PricewaterhouseCoopers and Ernst & Young  for over 5 years with the assurance department. His experience with valuation and in-depth macro and company specific analysis has often been  credited by financial media. Sameet holds a Bachelor in Commerce and MBA (University of Toronto), and is an Associate Member of the Inst. of Chartered Accountants of India.
        +teamMember('Frank Bellotti','Vice Chairman')(src="img/team-frank-bellotti.jpg")
          p Mr. Bellotti is the founder, Chairman and CEO of Bellotti Capital Partners Inc. (BCP), an independent financial investment firm offering comprehensive investment banking, corporate advisory, and global equity capital markets. BCP is registered by the Ontario Securities Commission and a member of the Limited Market Dealers Association of Canada. Mr Bellotti has extensive executive management experience, entrepreneurial acumen, and vast knowledge of the capital markets.
      .row.m-b-xl
        +teamMember('Cesare Fazari','Chairman')(src="img/team-cesare-fazari.jpg")
          p Cesare is a founding partner of Northwood Developments, Director and Chairman of the Investment Committee at Fountain Capital. He was one of the venture capitalists involved in the investment in iAnthus and Hydropothecary and a majority owner/partner of the Waterloo Innovation Network. Cesare owns over one million square feet of commercial, retail, residential and industrial real estate. 
        +teamMember('Howard Goldman M.B.A.','Director')(src="img/team-howard-goldman.jpg")
          p Howard is a serial entrepreneur and innovator in many disciplines of study and work. He is the founder of the Zopa Canada and an avid backer of disruptive fin-Tech technologies.  He is an early adopter of the medical cannabis industry in Canada. Howard is very close to many licensed producers, financiers and marketers. As a principal shareholder and Director of the Board,  Howard brings multiple skill sets to the team. He has over $1 billion of real estate sales and leasing, development, property management and construction. He is well versed in Crypto-currency and digital payments solutions.
        +teamMember('Dr. Steven Rothstein','Chief Science Officer')(src="img/team-steven-rothstein.jpg")
          p(style="margin-bottom:0") Dr. Steven Rothstein received his PhD from the University of Wisconsin and did his postdoctoral training in Cambridge UK at the Plant Breeding Institute.  He then was a Senior Scientist for Ciba Geigy in their Agricultural Biotechnology Research Unit located at the Research Triangle Park, North Carolina.   After this, Dr. Rothstein was recruited to be the Pioneer Hi-Bred Industrial Research Chair in Plant Molecular Biology at the University of Guelph where later he also served as Chair of the Department of Molecular Biology and Genetics. 
          #stevenMore.collapse.bio-collapse
            p Later Dr. Rothstein returned to the private sector, working for Pioneer Hi-Bred as the Research Director for Agronomic Traits where he was in charge of a number of areas including the development of the techniques for utilizing genomic information to improve the efficiency of plant breeding selection and also developing corn lines with improved drought tolerance.  Dr. Rothstein returned to the University of Guelph in 2002 where he is the University Research Chair in Plant Molecular Genetics and Professor in the Department of Molecular and Cellular Biology.  Dr. Rothstein is a recognized international expert in the field of Plant Genetics and in particular developing an understanding of how crop plants respond to environmental stress like drought as well as the use of genomic information to study these problems.  He has published over 130 peer reviewed research articles and been an inventor on over 15 patents. 
          a.bio-expand-button(role='button', data-toggle='collapse', href='#stevenMore', aria-expanded='false', aria-controls='stevenMore')
            span.ion.bio-expand-icon
      .row.m-b-xl
        +teamMember('Dr. Dean S. Elterman','Chief Medical Officer')(src="img/team-dean-elterman.jpg")
          p(style="margin-bottom:0") Dr. Dean S. Elterman completed his medical degree followed by residency in urologic surgery at the University of Toronto. He became a fellow of the Royal College of Physicians and Surgeons of Canada in 2011. Dr. Elterman completed a two-year fellowship in Voiding Dysfunction, Neuro-Urology, Female Urology and Pelvic Reconstruction at Memorial Sloan-Kettering Cancer Center and New York Presbyterian Hospital/Weill Cornell Medical College in New York City.
          #eltermanMore.collapse.bio-collapse
            p Dr. Elterman has worked in the areas of men’s health and survivorship at the Iris Cantor Men’s Health Center at New York Presbyterian Hospital/Weill Cornell Medical College and at the University of Toronto. He is the Medical Director of the Prostate Cancer Rehabilitation Clinic at Princess Margaret Hospital Cancer Centre.
            p He completed his Masters degree in Clinical Epidemiology and Health Services Research at Weill Cornell Graduate School of Medical Sciences.
            p Dr. Elterman is a member of several professional societies including the Society of Urodynamics, Female Pelvic Medicine and Urogenital Reconstruction, the Society of Genitourinary Reconstructive Surgeons, the International Neuromodulation Society, and the International Society of Men’s Health. 
          a.bio-expand-button(role='button', data-toggle='collapse', href='#eltermanMore', aria-expanded='false', aria-controls='stevenMore')
            span.ion.bio-expand-icon
        +teamMember('Dr. José A. Casaretto','Plant Sciences')(src="img/team-jose-casaretto.jpg")
          p(style="margin-bottom:0") Dr. José Casaretto obtained his PhD in Plant Biology from Washington University in St. Louis, Missouri. He held a postdoctoral position in the same university before joining the University of Talca (Chile) as a faculty member for the Graduate Program in Plant Biotechnology. He led the Molecular Plant Physiology research group at the Institute of Plant Biology and Biotechnology at the University of Talca and was director and co-investigator of over ten research projects focused on studying different aspects of plant metabolism and environmental stress tolerance in cereals and tomato. As part of that effort, he was able to establish international collaborative research with groups from Spain, Germany, Taiwan, USA, Chile and Argentina.
          #joseMore.collapse.bio-collapse
            p In 2012, Dr. Casaretto joined the Department of Molecular and Cellular Biology at the University of Guelph as an Associate Research Scientist where he has used genomics tools to investigate regulatory networks of plant metabolic pathways and stress responses in crops. Dr. Casaretto's research experience in plant physiology, biochemistry and molecular biology is endorsed by a track record of high impact publications and his service as evaluator for grant funding agencies from North America, South America and Europe.
          a.bio-expand-button(role='button', data-toggle='collapse', href='#joseMore', aria-expanded='false', aria-controls='stevenMore')
            span.ion.bio-expand-icon
        +teamMember('Dr. Tariq A. Akhtar','Molecular Biologist / Terpenes')(src="img/team-tariq-akhtar.jpg")
          p(style="margin-bottom:0") Dr. Akhtar completed his doctorate under the mentorship of Dr. Andrew Hanson at the University of Florida where he contributed to a viable and cost-effective way to overcome global folate malnutrition through plant 'bio fortification'. His research specifically addressed the issue of folate breakdown and storage and demonstrated a central role for polyglutamylation in the homeostasis of this plant-derived vitamin.
          #tariqMore.collapse.bio-collapse
            p Dr. Akhtar followed his interest in plant biochemistry to the laboratory of Dr. Eran Pichersky at the University of Michigan where he focused on two main projects. The first, a stable isotope-assisted mass spectrometry-based metabolomics platform to discover a novel breakdown and recycling pathway for the plant hormone, salicylic acid. The second project built on his recently published work describing the plant enzymes that synthesize polyisoprenoids and dolichols. Dr. Akhtar utilized a genomics approach to identify a novel class of cis-prenyltransferases that appear to be widespread among different plant lineages.  He recently joined the Molecular and Cellular Biology Department at Guelph and his research continues to investigate the biochemical pathways that operate at the interface of plant primary and secondary metabolism.
          a.bio-expand-button(role='button', data-toggle='collapse', href='#tariqMore', aria-expanded='false', aria-controls='stevenMore')
            span.ion.bio-expand-icon
      .row.m-b-xl
        +teamMember('Dr. Alexander MacGregor','Science Advisor')(src="img/team-alex-macgregor.jpg")
          p(style="margin-bottom:0") Dr. Alexander MacGregor is the Dean of Faculty, distinguished professor of Biopharmaceutics and current president of the Toronto Institute of Pharmaceutical Technology (TIPT®) – North America’s premier post-graduate institute of pharmaceutical sciences, technology and research.
          #macgregorMore.collapse.bio-collapse
            p Dr. MacGregor is also a pharmaceutical science inventor, an expert in pharmaceutical technology and novel drug delivery systems. He is a recipient of several global patents in the field of medical treatments and pharmaceutical drug delivery technologies most notably from Canada, US, Australia, Europe, Latin America, China, India and Japan. MacGregor’s inventions have led to groundbreaking therapeutic drugs for the treatment cancer, management of diabetes, systemic infections, and post-operative pain. 
            p Dr. MacGregor is a noted expert in translating pharmaceutical knowledge into sustainable business. He was a consultant to multi-national pharmaceutical companies such as GlaxoSmithKline, Valeant, Teva, Patheon, SunPharma, Beijing Double-Crane Pharma. He was appointment by the Government of China as an International Advisor in the field of pharmaceutical technology and research through a nomination proffered by the City of Beijing and Beijing Double-Crane Pharmaceutical Co: China’s third largest pharmaceutical company.
            p Dr. MacGregor has authored and co-authored several articles and manuscripts in the field of pharmaceutical science and technology. He is the founding member and Chair of the Canadian Association of Pharmaceutical Technologists (CapTech), the founding member and past-Chair of the Toronto Pharmaceutical Ethics Committee for research in human, a member of several scientific associations like the prestigious Control Release Society (CRS), Canadian Society of Pharmaceutical Sciences (CSPS) and the American Association of Pharmaceutical Sciences (AAPS).
          a.bio-expand-button(role='button', data-toggle='collapse', href='#macgregorMore', aria-expanded='false', aria-controls='stevenMore')
            span.ion.bio-expand-icon
        +teamMember('Ian Morton','General Manager')(src="img/team-ian-morton.jpg")
          p Ian is an accomplished business leader and entrepreneur; responsible for establishing and building leading environmental services companies such as Eco Generation Home Services, Scout Environmental and Summerhill. Under his leadership, Summerhill has become the leading energy efficiency program implementation in Canada with six offices and over 600 people employed on a full and part time basis. He has been recognized by Strategy Magazine for his marketing expertise and was the Clean16 category leader for Retail and Consumer Products in the inaugural 2011 Clean50 rankings in Canada. He is a Corporate Director at Ample Organics.
            
  script.
    document.getElementsByClassName("expand-button").addEventListener("click", changeIcon);

  include _call-to-action.jade