extends _page-template.jade

block title
  +pageTitle("Cannabinoid Science")

block body
  
  section.bg-white
    .container
      .page-feature-img
        img(src="img/icon-cannabinoid.svg" alt="Cannabinoid Science")
      h1.text-c Cannabinoid Science
      .row
        .col-md-6.col-md-offset-3
          p.text-c Cannabinoid science is a fast-growing area of pharmaceutical, academic and medical research.  Considerable focus and attention is now being applied to understanding the biologically active ingredients of various cannabinoids and their unique pharmacological effects.
  section
    .container
      .row
        .col-md-4
          h3 Cannabinoids
          p Cannabinoids such as THC and CBD are chemical compounds found in cannabis plants that provide relief to a number of common symptoms including inflammation, pain and insomnia.   Various cannabinoid strains imitate chemicals naturally present in our bodies to produce desired health outcomes.
        .col-md-4
          h3 Terpenoids
          p Cannabis strains possess unique combinations of terpenoids and cannabinoids. Terpenoids are a large group of organic compounds with diverse chemical compositions. Research suggests that there is a synergistic effect between both cannabinoids and terpenoids – sometimes referenced as the “entourage effect.”
        .col-md-4
          h3 Cannabis Contaminants
          p Without proper quality control testing, cannabis can become contaminated with impurities ranging from pesticide residue, heavy metals, microorganisms as well as mould and mildew. These contaminants may interfere with the health attributes of various strains of cannabis purchased by customers and/or significant losses to the licensed producers when a planting needs to be destroyed.
  include _call-to-action.jade