extends _page-template.jade

block title
  +pageTitle("Contact MSC")

block body
  section.bg-white
    .container
      .row
        .col-md-6
          h1 Let's talk.
          h2 Want to learn more about MSC or cannabis life sciences? Get in touch!
        .col-md-6
          .contact-info
            p
              strong Molecular Science Corp
              br
              | 100 King St. W.
              br
              | Toronto ON M5X 1C9
            p
              | M-F 9AM-5PM EST
              br
              | p. 647-255-3123
              br
              | e. info@mscience.ca