extends _page-template.jade

block title
  | #{siteTitle}

block body
  section
    .container
      .row
        .col-lg-6.col-lg-push-6.col-md-5.col-md-push-7.text-c
          .home-hero-img
            img(src="img/icon-cannabis.svg" alt="Cannabis Science")
        .col-lg-6.col-lg-pull-6.col-md-7.col-md-pull-5
          h1 Leaders in the cannabis life sciences sector
          h2 MSC is committed to using genetic, genomic and physiological techniques to better understand cannabis plant processes.
          p We offer licensed producers product testing using Ample Labs software, strains with desired traits and clinical research demonstrating results. MSC is applying our advanced knowledge to the production and distribution of cannabis based probiotics. We are proud to have one of the most extensive and recognized leaders in pharmaceutical, plant and cannabinoid science associated with our company. 
          p: a(href="#{scienceURL}.html") > Learn more about cannabinoid science
  section.bg-white
    .container
      .row
        .col-md-4.col-control-mobile
          .home-keyIcon
            img(src="img/icon-capsule.svg" alt="Product Development & Sales")
          h3.text-c Product Development & Sales
          p MSC manufactures and distributes cannabis based probiotics through our established pharmacy network. Our probiotics and other products are backed by extensive clinical research and designed for maximum efficacy. MSC will also distribute cannabis products utilizing its formulations upon licensing.  
        .col-md-4.col-control-mobile
          .home-keyIcon
            img(src="img/icon-dna.svg" alt="Cannabis Genetics")
          h3.text-c Cannabis Genetics
          p We analyse and engineer cannabis genotypes to cultivate the strongest cannabis genetics for a wide variety of applications. MSC has established a sector leading scientific research team led by Dr. Steven Rothstein.
        .col-md-4.col-control-mobile
          .home-keyIcon
            img(src="img/icon-microscope.svg" alt="Analytical Testing Services")
          h3.text-c Analytical Testing Services
          p Our partner labs test and analyse cannabis on behalf of Licensed Producers. We provide time saving and integrated lab reporting and chain of custody for LPs through our partnership with Ample Organics.
          p: a(href="#{testingURL}.html") > Learn more
  section
    .container
      .row
        .col-md-6
          p.h1 MSC brings together top-tier cannabis scientists with leaders in the Canadaian cannabis industry
          h2: a(href="#{aboutURL}.html") > Meet the team

  include _call-to-action.jade