extends _page-template.jade

block title
  | Home

block body
  .container
    .row
      .col-md-6
        h1 Science-first approach to cannabis production
        h2 Our top Canadian science team focuses on utilizing advanced genetic, genomic and physiological techniques to better understand cannabis plant processes and to utilize this knowledge to enhance important strain traits. 
        p
          a(href="#") > Learn more about cannabinoid science 
  .fluid-container.bg-white
    .container
      .row
        .col-md-4
          h3 Analytical Testing Services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum d olore eu fugiat nulla pariatur.
          p: a(href="#") > Learn More
        .col-md-4
          h3 Analytical Testing Services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum d olore eu fugiat nulla pariatur.
          p: a(href="#") > Learn More
        .col-md-4
          h3 Analytical Testing Services
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum d olore eu fugiat nulla pariatur.
          p: a(href="#") > Learn More
  .container
    .row
      .col-md-6
        p.h1 MSC brings together top-tier cannabis scientists with leaders in the Canadaian cannabis industry
        h2: a(href="#") > Meet the team

  include _call-to-action.jade