extends _page-template.jade

block title
  | Analytical Testing Services

block body
  
  section.bg-white
    .container
      .page-feature-img
        img(src="img/icon-testing.svg" alt="Analytical Testing Services")
      h1.text-c Analytical Testing Services
      .row
        .col-md-6.col-md-offset-3.text-c
          p MSC offers a range of cannabis related analytical testing services that support licensed producers, regulators, pharmaceutical and related industries. Our labs are fully compliant with the current ACMPR requirements and our team possesses the expertise required to deliver high quality results to meet your testing needs. 
  section
    .container

      .row
        .col-md-4
          .page-feature-img
            img(src="img/img-ample-organics.png" alt="Software Integration with Ample Organics")
        .col-md-6
          h3 Software Integration with Ample Organics
          p #[a(href="https://ampleorganics.com/") Ample Organics] is the most widely used and trusted software solution for the regulated cannabis industry, providing the largest selection of user-friendly seed to sale, SaaS and POS Software services available.
          h3 Ample Labs
          p Ample Labs is a software application that provides a chain of custody between the regulator, LPs and lab. Molecular Science Corporation proprietary portal provides licensed producers confidential access to industry leading labs specializing in cannabis testing.