$card-image-offset: $spacer-y * 3;

.team-card {
  background: #fff;
  padding: 0 $spacer-x $spacer-x;
  text-align: center;
  margin-top: $card-image-offset;
  border-radius: $border-radius-base;
  display: inline-block;
  width: 100%;
}

.team-card-img img {
  border-radius: 100px;
  margin-bottom: $spacer-y-sm;
  margin-top: -$card-image-offset;
  width: 100px;
  height: 100px;
  @include shadow
}

.team-name {
  margin-bottom: 0;
  font-weight: $font-weight-bold;
}

.team-title {
  margin-bottom: 0;
  font-size: $font-size-sm;
  text-transform: uppercase;
}

.team-bio {
  p {
    margin-top: $spacer-y;
    text-align: left;
    font-size: $font-size-sm;
    color: $gray-light;
  }
  
  & p:last-child {
    margin-bottom: 0;
  }
}

.bio-expand-button {
  padding-top: $spacer/2;
  display: block;
  text-align: center;
}

.bio-collapse + .bio-expand-button > .bio-expand-icon:before {
  content: "\f123";
}
.bio-collapse.in + .bio-expand-button > .bio-expand-icon:before {
  content: "\f126";
}