.social-links {
  
  .social-link {
    margin-right: $spacer-x-sm;
  }
  
  .social-link img {
    height: 40px;
    width: 40px;
  }
  .social-link:last-child {
    margin-right: 0;
  }
}

.home-keyIcon {
  text-align: center;
  margin-bottom: $spacer-y-lg;
  
  img {
    height: 100px;
  }
}