.footer-container {
  background: $brand-dark;
  color: #fff;
  min-height: $footer-height;
  
  .container {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

.footer {
  width: 100%;
  min-height: $footer-height;
  a {
    color: #ffffff;
    
    &:hover {
      color: #ffffff;
    }
  }

}

.footer-list,
#menu-footer-menu {
  border-top: 4px solid #ffffff;
  padding-top: $spacer-y-sm;
  padding-left: 0;
  list-style: none;
  line-height: 2;
}

.footer-list ul {
  list-style: none;
  padding-left: 0;
}

.footer-list-container {
  @include media-breakpoint-down(xs){
    text-align: center;
  } 
}

.footer-logo {
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
}

.footer-logo img {
  width: 3rem;
  
  @include media-breakpoint-down(sm) {
    width: 2rem;
    margin-bottom: 1rem;
  }
}

.footer-social-icon {
  width: 1.5rem;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 1;
  }
  
  
  & + & {
    margin-left: 3px;
  }
}

.footer-contact {
  @include media-breakpoint-up(md){
    float: right;
    text-align: right;
  }
}