// Navbar! Base styles - some will be overridden below


// First off, the actual bar

.navbar-container {
  position: absolute;
  padding: 0 $grid-gutter-outer;
  height: $navbar-height;
  left: 0;
  top: 4px;
  right: 0;
  background: $gray-lightest;
  @include clearfix;
  
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navbar-logo {
  display: inline-block;
}

.navbar-logo img {
  display: inline-block;
  margin-top: $navbar-height/3;
  margin-bottom: $navbar-height/3;  
  height: $navbar-height/3;
}

.navbar-header {
  width: 100%;
  position: relative;
}


// Next, The collapsable pane

.navbar-collapse {
  overflow-x: visible;
  -webkit-overflow-scrolling: none;
  position: fixed;
  background: transparentize($brand-darker,.01);
  border-top: 4px solid #fff;
  position: fixed;
  right: 0;
  left: auto;
  top: 0;
  bottom: 0;
  width: 0;
  transition: width .5s ease;
  z-index: $zindex-navbar + 1;
  max-width: 400px !important;
}

.navbar-closeToggle {
  height: $navbar-height;
  display: block;
  font-size: $font-size-xl;
  line-height: 1;
  padding-top: ($navbar-height - $font-size-xl)/2;
  padding-bottom: ($navbar-height - $font-size-xl)/2;
  padding-left: 2rem;
  padding-right: 2rem;
}

ol.navbar-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 100%;
  margin-left: auto;
  margin-right: 0;
  background: transparent;
  margin-top: 1rem;
}

#primary-menu .menu-item > a {
  display: block;
  padding: 1rem 2rem;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: #fff;
  position: relative;
  left: 0;
  transition: all 0.3s ease;
  
  &:hover {
    text-decoration: none;
  }
  
  // hover FX only on larger screens
  @include media-breakpoint-up(md) {
    &:hover {
      left: .5rem;
      color: $brand-primary;
    }
  }
}

#primary-menu .menu-item {
  border-bottom: 1px solid rgba(255,255,255,.1);
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// Bootstrap JavaScript plugin.

.navbar-toggle {
  padding: .5rem .75rem;
  font-size: $font-size-xl;
  line-height: 1;
  padding-top: ($navbar-height - $font-size-xl)/2;
  padding-bottom: ($navbar-height - $font-size-xl)/2;
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: 0;
  height: $navbar-height;
  position: absolute;
  right: 0;
  color: $brand-primary;
  transition: color 0.2s ease;
  outline: none !important;
  
  &[aria-expanded="true"]{
    color: $brand-primary;
  }
}


// Prvent body scrolling when menu is open on mobile

@include media-breakpoint-down(sm) {
  .nav-noscroll {
    height: 100vh;
    overflow: hidden;
  }
}

// Fancy number

.nav-link-number {
  font-size: $font-size-xs;
  color: rgba(255,255,255,.3);
  font-weight: $font-weight-normal;
  margin-right: $spacer-x-xs;
}

// Darken when menu opens 

.html {
  body: $gray-dark;
}

#navbar, #mainContent {
  opacity: 1;
  transition: opacity 0.3s ease;
}