#bodyWrap {
  min-height: 100%;
  padding-top: $navbar-height;
  border-top: 4px solid $brand-primary;
    
  @include media-breakpoint-down(sm){
    padding-top: $navbar-height-mobile;
  }
}


.mainContent {
  min-height: 100%;
  overflow: auto;
  padding-bottom: $footer-height;
}

.container-fluid {
  width: 100%;
}