#bodyWrap {
  min-height: 100%;
  padding-top: $navbar-height;
  border-top: 4px solid $brand-primary;
  display: flex;
  flex-direction: column;
    
  @include media-breakpoint-down(sm){
    padding-top: $navbar-height-mobile;
  }
}


#mainContent {
  flex: 1;
  background: $gray-lightest;
}

.container-fluid {
  width: 100%;
}