#bodyWrap {
  min-height: 100%;
  border-top: 4px solid $brand-primary;
  display: flex;
  flex-direction: column;
}


#mainContent {
  flex: 1;
  background: $gray-lightest;
}

.col-control-mobile {
  @include media-breakpoint-down(sm){
    margin-bottom: $spacer-y-xl;
  }
}