//********** Utility classes

.hidden-sm-up {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}
.hidden-md-up {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}
.hidden-sm-down {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

// Text
.text-c {
  text-align: center;
}
.text-r {
  text-align: center;
}
.text-b {
  font-weight: $font-weight-bold;
}
.text-i {
  font-style: italic;
}
.text-primary {
  color: $brand-primary;
}
.text-gray-lighter {
  color: $gray-lighter;
}

.text-gray-dark {
  color: $gray-dark !important;
}
.text-gray {
  color: $gray !important;
}
.nowrap {
  white-space: nowrap;
}

.text-muted,
.text-gray-light{
  color: $gray-light !important;
}

// Backgrounds
.bg-white{
  background: #fff;
}

.bg-primary{
  background: $brand-primary;
  
  a {
    color: #fff !important;
  }
}

// Margins
.m-b {
  margin-bottom: 1rem;
}

.m-b-sm {
  margin-bottom: .5rem !important;
}

.m-b-lg {
  margin-bottom: 2rem;
}
.m-b-xl {
  margin-bottom: 3rem;
}
.m-b-xxl {
  margin-bottom: 4rem;
}
.m-b-0 {
  margin-bottom: 0 !important;
}


// Padding
.p-x {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-x-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.p-b-0 {
  padding-bottom: 0;
}

// Images
.img-fluid {
  width: 100%;
}

// Floating
.float-r {
  float: right !important;
}


// Alignment
.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Lists
.list-unstyled {
  list-style: none;
  padding-left: 0;
}